%md 
# Defining transformations:
- creating a new dataset with 
    - combining 2 or more dataframes
    - aggregating and summarizing data
    - applying various functions

- Two forms of transformations:
    - rows
    - columns 

- Columns are spark object of type column
- Column cannot be referenced outside the dataframe and manipulate indipendently 
- Columns are always used within transformation

## Accessing columns 
- 2 ways to refer to a column in a dataframe
  - col string 
    - simplest method to access col (df.select()).
    -  spark gives bunch of transformations that take column string as transformations like select, drop, order by, group by.
  - col object 
    - second way is to access using column object.
    - the simplest form is using the col or column function but there are other ways as well.
    - we can use column string and col method in same transformation as well.
    - most of the transforamtion will offer both the options and it depends on personal choice to choose.

## Creating Column expressions
- Column expressions are formulas or transformations applied to DataFrame columns. They help you manipulate, filter, or create new columns using existing data.
- example: 
    - col("age") + 5
    - col("name").substr(1, 3)
- In PySpark, there are two main types of column expressions:
    - Column String expressions/SQL Expressions
        - These are expressions written as strings, often resembling SQL syntax.
        - When you want to write familiar SQL-style expressions, especially involving calculations or functions in a concise way.
        - df.selectExpr("fare * 0.9 as discounted_fare").show()
        - df.withColumn("discounted_fare", expr("fare * 0.9"))
    
    - Column Object expressions
        - These use PySpark functions and column objects (like col("column_name")). 
        - They are more flexible and more readable for complex transformations.
        - df.withColumn("uppercase_name", upper(col("name")))
        - df.withColumn("adjusted_fare", (col("fare") * 0.9).cast("int"))

In [ ]:
# loading the dataset
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

if __name__ == "__main__":

    spark = (
        SparkSession.builder
        .appName('Spark col transformation')
        .getOrCreate()
    )
             

    flights_df = (
        spark.read
        .format('csv')
        .option('inferSchema','true')
        .option('header','true')
        .option('samplingRatio','0.001')
        .load(
            path = 'dbfs:/databricks-datasets/airlines/part-00000', # gotta download the flights dataset to work
            encoding = 'utf-8'
        )
    )

In [ ]:
flights_df.count()
display(flights_df.head(5))
flights_df.printSchema()

In [ ]:
# Referencing columns using column strings 
display(flights_df.select('FlightNum','AirTime','ArrDelay').head(5))

In [ ]:
# Referencing a column using a column object 

display(flights_df.select(
    column('FlightNum'),
    col('Airtime'),
    'ArrDelay'
).head(5))

In [ ]:
# creating column expression using column string expression
spark.sql("SET spark.sql.legacy.timeParserPolicy = LEGACY")

flights_df.select(
    'Origin',
    'Dest',
    'Distance',
    expr("to_date(concat('Year','Month','DayofMonth'),'yyyyMMdd') as flight_date") # we have to use expr function as the select transformation only takes col object and not expression thus we need to convert the expression to column object
).show(5)

In [ ]:
# creating a column object expressions

flights_df.select(
  'Origin',
  'Dest',
  'Distance',
  to_date(
    concat(
      'Year',
      'Month',
      'DayOfMonth'
    ),
    'yyyyMMdd'
  ).alias('flight_date')
).show(5)